.hero {
  background: linear-gradient(135deg, #155ded, #fab003);
  padding: 140px 0;
  color: white;
}
    .section-title {
      font-weight: 700;
      font-size: 2.2rem;
    }
    .icon-box {
      padding: 25px;
      border-radius: 15px;
      background: #fff;
      transition: .3s;
    }
    .icon-box:hover {
      transform: translateY(-5px);
      box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    }